@model ImageHost.Models.HostedImage

@{
    ViewBag.Title = Model.FileName;
}

<div class="row">
    <div class="col-md-4 center-block" style="margin-top: 20px">
        <img src="~/uploads/@Model.FileName"/>
        <br/>
        <div class="alert alert-info" style="margin-top: 10px">
            <a href="/images/@Model.EncodedName">http://imghoster.azurewebsites.net/images/@Model.EncodedName</a>
        </div>
    </div>
</div>


