@model ImageHost.Models.Error

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <div class="alert alert-danger">@Model.Message</div>
    </hgroup>
</body>
</html>
